__pycache__/
*.py[cod]
*.so
.DS_Store
.ipynb_checkpoints/
.env
.venv/
venv/

data/*
!data/README.md

ckpt/*
!ckpt/README.md

QGIS_out/
outputs/
output/
previous_out/
detect_only_out/
qgis_out_tmp_*/

*.pt
*.pth
*.onnx
*.engine
*.weights
*.zip
*.tar
*.tar.gz
*.tgz
